@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html, body, #root {
		font-family: 'Montserrat', ui-sans-serif, system-ui, -apple-system,
			'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
	}
}